@font-face {
  font-family: 'TRYGrtsk';
  src: url('/fonts/trygrtsk-semiboldmega-bf6426552430fe5-webfont.woff2') format('woff2'),
  url('/fonts/trygrtsk-semiboldmega-bf6426552430fe5-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

