@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jura:wght@300..700&display=swap');


.info-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: #000;
  font-family: "Jura", sans-serif;
  z-index: 1001;
}
.info-col_2{
  flex: none;
}
.info-col_1 {
  flex: none;
}
.info-col_3 {
  flex: none;
}

.info-title {
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.contents {
  font-size: 1rem;   /* 또는 14px, 1rem 등 원하는 크기로 조정 */
  line-height: 1.4;     /* 가독성을 위해 줄 높이도 살짝 늘려줄 수 있습니다 */
  margin-bottom: 0.3rem;/* 항목 간 간격 */
}
.dday {
  font-size: 1rem;
}

@media (max-width: 1920px) {
  .info-bar {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap:45rem;
  }
  .info-col {
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 1680px) {
  .info-bar {
    margin-left: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 37rem;
  }
  .info-col {
    width: 100%;
    margin-bottom: 1rem;
  }
  .info-col_3 {
    margin-left: 50px;
  }
}
@media (max-width: 1440px) {
  .info-bar {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 30rem;
  }
  .info-col {
    width: 100%;
    margin-bottom: 1rem;
  }
  .info-col_3 {
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  .info-bar {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .info-col {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .info-bar {
    color: #000;
    padding: 0.6rem;
    gap: 6rem;
    z-index: 10000;
  }
  .info-title {
    font-size: 0.7rem;
    z-index: 1001;
  }
  .contents {
    font-size: 0.8rem;
  }
  .info-col_1 > .contents {
    flex: none;
    font-size: 0.7rem;
  }
  .info-col_3 {
    position: absolute;
    right: -90px;
    flex: none;

  }
  .dday {
    font-size: 0.6rem;
  }
}
@media (max-width: 414px) {
  .info-bar {
    color: #000;
    padding: 0.6rem;
    gap: 5rem;
    z-index: 10000;
  }
  .info-title {
    font-size: 0.7rem;
    z-index: 1001;
  }
  .contents {
    font-size: 0.8rem;
  }
  .info-col_1 > .contents {
    flex: none;
    font-size: 0.7rem;
  }
  .info-col_3 {
    position: absolute;
    right: -110px;
    flex: none;

  }
  .dday {
    font-size: 0.6rem;
  }
}
@media (max-width: 402px) {
  .info-bar {
    color: #000;
    padding: 0.6rem;
    gap: 5rem;
    z-index: 10000;
  }
  .info-title {
    font-size: 0.7rem;
    z-index: 1001;
  }
  .contents {
    font-size: 0.8rem;
  }
  .info-col_1 > .contents {
    flex: none;
    font-size: 0.7rem;
  }
  .info-col_2{
    margin-right: 10px;
  }
  .info-col_3 {
    position: absolute;
    right: -80px;
    flex: none;

  }
  .dday {
    font-size: 0.6rem;
  }
}
@media (max-width: 390px) {
  .info-bar {
    color: #000;
    padding: 0.6rem;
    gap: 5rem;
    z-index: 10000;
  }
  .info-title {
    font-size: 0.7rem;
    z-index: 1001;
  }
  .contents {
    font-size: 0.7rem;
  }
  .info-col_1 > .contents {
    flex: none;
    font-size: 0.6rem;
  }
  .info-col_3 {
    position: absolute;
    right: -100px;
    flex: none;

  }
  .dday {
    font-size: 0.6rem;
  }
}
@media (max-width: 375px) {
  .info-bar {
    color: #000;
    padding: 0.6rem;
    gap: 5rem;
    z-index: 10000;
  }
  .info-title {
    font-size: 0.6rem;
    z-index: 1001;
  }
  .contents {
    font-size: 0.7rem;
  }
  .info-col_1 > .contents {
    flex: 8;
    font-size: 0.6rem;
  }
  .info-col_3 {
    flex: 2;
    position: absolute;
    right: -90px;
  }
  .dday {
    font-size: 0.7rem;
  }
}
