
.loader-screen {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 9999999;
  overflow: hidden;
}
.loader-count {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 3rem;
  color: #fff;
  font-family: 'TRYGrtsk', sans-serif !important;
}
@font-face {
  font-family: 'TRYGrtsk';
  src: url('/fonts/trygrtsk-semiboldmega-bf6426552430fe5-webfont.woff2') format('woff2'),
  url('/fonts/trygrtsk-semiboldmega-bf6426552430fe5-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'TRYGrtsk', sans-serif !important;
}
